body
{

}

h1 {
    font-size:20px;
    text-align:center;
}
article1 {
    float:left;
    height:120px;
    width:47.5%;
    border-style:solid;
    border-width:thin;
}
article2 {
    float:right;
    height:120px;
    width:47.5%;
    border-style:solid;
    border-width:thin;
}
article3 {
    float:left;
    height:120px;
    width:47.5%;
    border-style:solid;
    border-width:thin;
}
article4 {
   float:right;
   height:120px;
   width:47.5%;
   border-style:solid;
   border-width:thin;

}
article5 {
   float:left;
   height:120px;
   width:47.5%;
   border-style:solid;
   border-width:thin;

}
article6 {
   float:right;
   height:120px;
   width:47.5%;
   border-style:solid;
   border-width:thin;

}
article7 {
   float:left;
   height:120px;
   width:47.5%;
   border-style:solid;
   border-width:thin;

}

article8 {
   float:right;
   height:120px;
   width:47.5%;
   border-style:solid;
   border-width:thin;

}

article9 {
   float:left;
   height:120px;
   width:47.5%;
   border-style:solid;
   border-width:thin;

}
article10 {
   float:right;
   height:120px;
   width:47.5%;
   border-style:solid;
   border-width:thin;

}
article11 {
   float:left;
   height:120px;
   width:47.5%;
   border-style:solid;
   border-width:thin;

}
article12 {
   float:right;
   height:120px;
   width:47.5%;
   border-style:solid;
   border-width:thin;
}
article13 {
   float:left;
   height:120px;
   width:47.5%;
   border-style:solid;
   border-width:thin;

}
article14 {
   float:right;
   height:120px;
   width:47.5%;
   border-style:solid;
   border-width:thin;
}

article50 {
   border-style:solid;
   height:60px;
   float:left;
   padding-left:100px;
   padding-right:100px;
}
article51 {
   border-style:solid;
   height:60px;
   float:left;
   padding-left:100px;
   padding-right:100px;
}


